/mpc/FORCESNLPsolver/
/tests/actions.npy
/mpc/FORCESNLPsolverMy/
/mpc/FORCESNLPsolver2/
/mpc/FORCESNLPsolverSPL/
/mpc/FORCESNLPsolverMy2/
/mpc/FORCESNLPsolverMy3/
*.forces
__pycache__/*
/log/*
/mpc/FORCESNLPsolverMy5/
/FORCESNLPsolverMy5/
/mpc/FORCESNLPsolverOA/
/log.zip
/mpc/FORCESNLPsolverMy8/
/mpc/FORCESNLPsolverMy9/
/mpc/FORCESNLPsolverMy10/
/mpc/FORCESNLPsolverMy9_nosoft/
/mpc/FORCESNLPsolverMy11/
/mpc/FORCESNLPsolverMy12/
/mpc/FORCESNLPsolverMy12_long/
/mpc/FORCESNLPsolver1/
/mpc/FORCESNLPsolver3/
/mpc/FORCESNLPsolver2_max/
